<!DOCTYPE html>
<html>
    <a href="/">
    <button>⬅ Back to Home</button>
</a>
<head>
    <title>Post Animal Case</title>
</head>
<body>
    <h2>Report an Animal Case 🐾</h2>

    <form method="POST" enctype="multipart/form-data">
        <label>Animal Type:</label><br>
        <input type="text" name="animal"><br><br>

        <label>Location:</label><br>
        <input type="text" name="location"><br><br>

        <label>Description:</label><br>
        <textarea name="description"></textarea><br><br>

        <label>Upload Image:</label><br>
        <input type="file" name="image"><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>